#配置mysql数据库相关
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://8.131.94.65:3306/his?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    data-username: root
    data-password: admin123
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      max-active: 20
      min-idle: 5
      validation-query: select x
      initial-size: 3
      max-wait: 5000
      stat-view-servlet:
        #        login-username: root
        #        login-password: 123456
        allow:
        deny:
        url-pattern: /druid/*
        enabled: true  #启用数据源监控

#mybatisplus的配置
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:mapper/*Mapper.xml
  global-config:
    db-config:
      id-type: auto

#dubbo配置
dubbo:
  application:
    name: his-doctor-service
  registry:
    address: zookeeper://8.131.94.65:2181
  consumer:
    check: false
